@import "tailwindcss";

@layer components {
  .button {
    @apply relative rounded-full border-2 border-transparent bg-black/40 px-6 py-4 font-sans font-medium text-zinc-50 hover:bg-black/50;

    &:not(:disabled) {
      &::before {
        background: var(--gradient-brand-dark);
      }

      &::after {
        @apply opacity-0 transition-opacity duration-200;
        background: var(--gradient-brand-light);
      }

      &:hover::after,
      &:focus::after {
        @apply opacity-100;
      }

      &::before,
      &::after {
        @apply absolute -inset-0.5 rounded-full border-2 border-transparent;
        content: "";
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
      }

      &:focus {
        @apply brand-outline bg-black/50;
      }
    }

    &:disabled {
      @apply border-zinc-500 bg-zinc-800 text-zinc-500;
    }
  }
}
