@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-funnel-sans);
  --font-heading: var(--font-aspekta);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
