@import "tailwindcss";
@import "@filecoin-foundation/ui-filecoin/styles";

@import "./accordion.css";
@import "./table.css";

@source "../../node_modules/@filecoin-foundation/ui";
@source "../../node_modules/@filecoin-foundation/ui-filecoin";

@theme {
  --animate-slide-down: slideDown 300ms ease-out;
  --animate-slide-up: slideUp 300ms ease-out;
}

@utility brand-outline {
  outline: 2px solid var(--color-zinc-50);
  outline-offset: 0px;
  border-color: transparent;
}

text-link {
  @apply text-brand-600 hover:text-brand-800 hover:underline;
}
