@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-funnel-sans);
  --font-heading: var(--font-aspekta);
}

@theme {
  --color-brand-50: oklch(0.98 0.0157 216.67); /* #EDFBFF */
  --color-brand-100: oklch(0.95 0.035 219.18); /* #D6F5FF */
  --color-brand-200: oklch(0.92 0.0628 215.11); /* #B5F0FF */
  --color-brand-300: oklch(0.88 0.1002 212.38); /* #83EAFF */
  --color-brand-400: oklch(0.83 0.1306 218.59); /* #48DAFF */
  --color-brand-500: oklch(0.76 0.1503 232.56); /* #1EBFFF */
  --color-brand-600: oklch(0.69 0.1736 245.19); /* #06A3FF */
  --color-brand-700: oklch(0.65 0.193 251.78); /* #0090FF */
  --color-brand-800: oklch(0.53 0.1592 252.62); /* #086DC5 */
  --color-brand-900: oklch(0.47 0.1224 248.85); /* #0D5D9B */
  --color-brand-950: oklch(0.33 0.0795 249.37); /* #0E385D */

  --gradient-brand-dark: linear-gradient(
    90deg,
    var(--color-brand-500),
    var(--color-brand-700)
  );

  --gradient-brand-light: linear-gradient(
    90deg,
    var(--color-brand-300),
    var(--color-brand-500)
  );
}

body {
  background: var(--color-zinc-950);
  color: var(--color-zinc-50);
  font-family: var(--font-sans);
}

@utility brand-outline {
  outline: 2px solid var(--color-zinc-50);
  outline-offset: 0px;
  border-color: transparent;
}

@layer components {
  .button {
    @apply relative rounded-full border-2 border-transparent bg-zinc-950/25 px-6 py-4 font-medium text-zinc-50;

    &:not(:disabled) {
      &::before {
        background: var(--gradient-brand-dark) border-box;
      }

      &::after {
        @apply opacity-0 transition-opacity duration-200;
        background: var(--gradient-brand-light) border-box;
      }

      &:hover::after,
      &:focus::after {
        @apply opacity-100;
      }

      &::before,
      &::after {
        @apply absolute -inset-0.5 rounded-full border-2 border-transparent;
        content: '';
        mask:
          linear-gradient(var(--color-white)) content-box,
          linear-gradient(var(--color-white));
        mask-composite: exclude;
      }

      &:focus {
        @apply outline-2 outline-offset-0 transition-none;
      }
    }

    &:disabled {
      @apply border-zinc-500 bg-zinc-800 text-zinc-500;
    }
  }
}
