@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-funnel-sans);
  --font-heading: var(--font-aspekta);
}

body {
  background: var(--color-zinc-950);
  color: var(--color-zinc-50);
  font-family: var(--font-sans);
}
