@import "tailwindcss";
@import "@filecoin-foundation/ui-filecoin/styles";

@import "./accordion.css";
@import "./table.css";

@source "../../node_modules/@filecoin-foundation/ui";
@source "../../node_modules/@filecoin-foundation/ui-filecoin";

@theme {
  --animate-slide-down: slideDown 300ms ease-out;
  --animate-slide-up: slideUp 300ms ease-out;
}

/* This should ideally come from ui-filecoin */
@utility brand-outline {
  outline: 2px solid var(--color-brand-600);
  outline-offset: 0px;
  border-color: transparent;
}
