@import "tailwindcss";
@import "@filecoin-foundation/filecoin-ui/styles";

@import "./accordion.css";
@import "./table.css";
@import "./listbox.css";

@source "../../node_modules/@filecoin-foundation/filecoin-ui";

@theme {
  --animate-slide-down: slideDown 300ms ease-out;
  --animate-slide-up: slideUp 300ms ease-out;
}
