:root,
.light-section {
  --color-listbox-border: var(--color-zinc-200);
  --color-listbox-option-background: var(--color-zinc-100);
}

.dark-section {
  --color-listbox-border: var(--color-zinc-700);
  --color-listbox-option-background: var(--color-zinc-900);
}
