@import "tailwindcss";

@theme {
  --color-foreground: var(--color-zinc-950);
  --color-forground-subtle: var(--color-zinc-600);
  --color-muted: var(--color-zinc-100);
  --color-muted-foreground: var(--color-zinc-200);
}
