name: Code quality

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Cache Biome
        uses: actions/cache@v5
        with:
          path: ~/.cache/biome
          key: ${{ runner.os }}-biome-${{ hashFiles('**/biome.json') }}

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Run Biome
        run: biome ci .